td, th{
    border: 1px solid black;
   
 }

 th{
    background-color: rgb(230, 218, 250);
 }

 td{
    background-color: rgb(194, 183, 243);
 }

 .suspenso td{
   background-color: red;
 }

 .aprobado td{
   background-color: green;
 }